<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDeveloperService" />
                <binding name="BasicHttpBinding_IKnowledgeService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59548/DeveloperService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeveloperService"
                contract="ServiceReference1.IDeveloperService" name="BasicHttpBinding_IDeveloperService" />
            <endpoint address="http://localhost:59548/KnowledgeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKnowledgeService"
                contract="ServiceReference2.IKnowledgeService" name="BasicHttpBinding_IKnowledgeService" />
        </client>
    </system.serviceModel>
</configuration>